/* Main page with stikky-footer */
html, body {
  height: 100%;
  background-color: #fff;
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #27A822;
  word-wrap:break-word;
}

/* Wrapper for page content to push down footer */
#wrap {
  /*padding-bottom: 50px;*/
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

.clear {
    clear: both;
}

h1 {
    color: #27a822;
    font-weight: bold;
}

.summary {
  font-size: 18px;
  line-height: 30px;
}


/* blog posts */

.post-subtitle {
  color: gray;
  font-size: 16px;
}

.panel-body #portrait {
   float: left;
   max-height: 120px;
   margin-right: 20px;
}

.panel-body .headline {
    font-size: 16px;
    font-weight: bold;
}

/* follow button */

.dropbtn {
    color: gray;
    border: 1px solid #bdc1c4;
    padding: 1px 10px;
    background: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.dropbtn:hover/*, .dropbtn:focus*/ {
  background-color: darkgray;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: gray !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {/*background-color: darkgray;*/ color: black !important;}

.show {display: block;}

#myDropdown .fa {
    padding-right: 5px;
}

/* static pages */

.static-page .content {
    padding: 15px;
    text-align: left;
    line-height: 30px;
    font-size: 18px;
    text-align: justify;
}

.static-page h1,
.static-page h2,
.static-page h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.static-page .footnotes {
    border-top: 1px solid #CCC;
    font-size: .8em;
    margin: 2em 0;
}

.static-page .fnlink {
    font-size: .8em;
    vertical-align: top;
    line-height: .9em;
}

.static-page .side-note {
    font-size: 0.8em;
    line-height: 1.5em;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
.navbar-collapse {
    border-top: 0px;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
  .navbar-right {
    text-align: center;
  }
}

/* Custom page CSS */
.container {
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #27A822;
}
.container a:hover {
  color: #267723;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel {
    box-shadow: 0 0 0;
    border: 0;
}
.panel-overview {
    padding-top: 40px;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #27A822;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #267723;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social-links {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
}
.social-links li {
  display: inline-block;
  padding: 5px;
  padding-top: 0;
  text-align: center;
}
.social-links li a {
  font-size: 20px;
  color: #000;
  opacity: 0.6;
  padding: 10px;
  padding-bottom: 4px;
  transition: all .4s ease;
}
.social-links li a:hover {
  color: #000;
  opacity: 1;
}

.fa.presentation {
    background-image: url('/img/presentation.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
}

.fa.opensource {
    background-image: url('/img/open-source.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
}

.fa.fediverse {
    background-image: url('/img/fediverse.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 1px;
}

.avatar {
  padding-top: 5%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.blogpost .header-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  max-height: 1000px;
  object-fit: cover;
}

.header-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  max-height: 600px;
  object-fit: cover;
}

.blogpost .header-image img {
  width: 100%;
  height: auto;
  padding-bottom: 2px;
}
.blogpost .header-image p {
  opacity: 0.7;
}
.article-image {
  margin: 15px;
}
.header-image p,
.article-image p {
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}
.label {
    display: inline-block;
    margin-bottom: 5px;
    padding: 0.3em 0.6em;
    line-height: inherit;
}
a.label {
    color: white;
}

a.label:hover {
    color: white;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.comments-container {
  padding-bottom: 15px;
  text-align: left;
}
.comments-container .avatar {
  padding-top: 0;
}
.blogpost{
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
}
.blogpost img {
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}
.categories {
  font-size: 18px;
  padding: 20px 0;
}
.metadata {
  font-size: 14px;
  opacity: 0.7;
}
.blog-summary {
  padding-bottom: 20px;
}
/* RSS */
.article-rss {
    padding-left: 20px;
}
/* social media button */
/* add some padding to the bottom of the social media buttons */
.social {
    padding-bottom: 30px;
}
/* make sure that social links are centered */
.social-links {
    padding: 0;
}
/* share on social media */

.share {
    text-align: center;
}

.n {
    display: none !important;
}

.share-buttons input[type="radio"],
.share-buttons input[type="radio"] + span,
.share-buttons input[type="checkbox"],
.share-buttons input[type="checkbox"] + span {
    display: none;
}

.share-buttons button{
    white-space: nowrap;
}

.share-buttons.bottom .share-diaspora {
    background-color: #404040;
    background-image: url("/img/social/diaspora_white.png");
}

.share-buttons.bottom .share-diaspora:hover {
    background-color: #101010 !important;
}

.share-buttons.bottom .share-gnusocial {
    background-color: #a22430;
    background-image: url("/img/social/gnusocial_white.png");
}

.share-buttons.bottom .share-gnusocial:hover {
    background-color: #850713 !important;
}

.share-buttons.bottom .share-mastodon {
    background-color: #2b90d9;
    background-image: url("/img/social/mastodon_white.png");
}

.share-buttons.bottom .share-mastodon:hover {
    background-color: #206698 !important;
}

.share-buttons.bottom .share-reddit {
    background-color: #ff5700;
    background-image: url("/img/social/reddit_white.png");
}

.share-buttons.bottom .share-reddit:hover {
    background-color: #dd3500 !important;
}

.share-buttons.bottom .share-hnews {
    background-color: #f60;
    background-image: url("/img/social/hackernews_white.png");
}

.share-buttons.bottom .share-hnews:hover {
    background-color: #dd3500 !important;
}

.share-buttons.bottom .share-twitter {
    background-color: #55acee;
    background-image: url("/img/social/twitter_white.png");
}

.share-buttons.bottom .share-twitter:hover {
    background-color: #338acc !important;
}

.share-buttons.bottom .share-facebook {
    background-color: #3b5998;
    background-image: url("/img/social/facebook_white.png");
}

.share-buttons.bottom .share-facebook:hover {
    background-color: #143271 !important;
}

.share-buttons.bottom .share-gplus {
    background-color: #d34836;
    background-image: url("/img/social/gplus_white.png");
}

.share-buttons.bottom .share-gplus:hover {
    background-color: #b12614 !important;
}

.share-buttons.bottom{
    margin:4em 0 1em 0;font-size:.7em;
}

.share-buttons.bottom button.button,
.share-buttons.bottom label.button {
    display:inline-block;
    margin:2.5px 5px 2.5px 0;
    color:#fff;
    font-weight:normal;
    font-size:1em;
    line-height:normal;
    text-align:center;
    text-decoration:none;
    padding:7px 7px 7px 20px;
    width:19%;
    min-width:100px;
    max-width:110px;
    border:none;
    border-radius:3px;
    background-position:left 5px center;
    background-repeat:no-repeat;
    background-size:20px auto;
    opacity:.9;
    vertical-align:top;
}

.share-buttons input[type="radio"]:checked+span,
.share-buttons input[type="checkbox"]:checked+span {
    position:absolute;
    margin-top:3.5em;
    margin-left:-10em;
    padding:.5em;
    z-index:3;
    background-color:#333;
    border-radius:.5em;
    display:inline-block;
}

.share-buttons input[type="radio"]:checked+span:before,
.share-buttons input[type="checkbox"]:checked+span:before {
    content:'';
    position:absolute;
    top:-1em;
    height:0;
    width:0;
    border-bottom:1em solid #333;
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    z-index:3;
}

.share-buttons input[type="radio"]+span>* {
    vertical-align:middle
}

.share-buttons input[type="radio"]+span>button {
    margin:2.5px 0 2.5px 5px;
    min-width:4em;
    padding:.25em;
    font-weight:normal;
    font-size:1em;
    line-height:normal
}

.share-buttons input[type="radio"]+span>label {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:-1;
    background-color:rgba(0,0,0,0.5);
}

.share-buttons.bottom label.button:hover {
    cursor: pointer;
}

/* Footer  */
.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
.text-muted a {
	color: #6b6b6b;
}
.text-muted a:hover {
	color: black;
}
div.footer{
  border-bottom: 5px solid #27A822;;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin: 20px;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* show RSS feed content on main page */

#thought blockquote:hover {
	font-size: 15px;
}

#thought  a:hover {
	text-decoration: none;
}

#thought blockquote {
	font-size: 14px;
	font-style: italic;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: left;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	border: 0px;
}

#thought blockquote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

#thought blockquote cite {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 5px;
}

#thought blockquote cite:before {
	content: "\2014 \2009";
}

/* Projects */
#projects {
    font-size: 18px;
}

#projects li {
    list-style-type: none;
    padding-top: 10px;
}

ul.flat {
    padding: 0;
}

/* Add some nice looking quotes to the page */
.quote {
    float: right;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 70%;
    font-size: 16px;
    line-height: 1.5em;
}

.quote cite {
    color: #999999;
    display: block;
    margin-top: 5px;
}

.quote cite:before {
    content: "\2014 \2009";
}


.slides-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.slides-summary-preview {
    position:relative;
    padding-bottom: 40px;
    background: #8080801a;
    border-radius: 5px;
    margin: 20px 0;
    padding: 10px;
}

.slides-summary-title {
    font-weight: bold;
}

.slides-summary-location {
    opacity: 0.5;
}


@media screen and (max-width: 767px) {

  .slides-grid {
    display: block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .slides-summary {
    width: 100%;
  }
}

