<div class="portrait">
	      <img src="/img/profile.jpg" id="portrait" class="img-circle" alt="portrait"/>
              </div>
	      <span class="headline p-name">Björn Schießle</span><br />
	      Computer Scientist (Dipl. Inf.), graduated at <a href="http://www.uni-stuttgart.de" title="University of Stuttgart, Germany">University of Stuttgart</a><br>
              Co-founder and PreSales Lead at <a href="https://nextcloud.com">Nextcloud</a><br>
	      Active in the <a href="http://www.fsfe.org/about/basics/freesoftware">Free Software</a> movement for over 20 years<br>
	      <a href="http://www.fsfe.org" title="Free Software Foundation Europe">FSFE</a>'s coordinator <a href="https://fsfe.org/de/">Germany</a> and member of the General Assembly<br>
<br />
