          <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Follow</button>
          <div id="myDropdown" class="dropdown-content">
            {{ if .Site.Params.Social.Mastodon }}
            <a href="{{ .Site.Params.Social.Mastodon }}" title="Mastodon" rel="me"><i class="fa fa-mastodon"></i> Mastodon</a>
            {{ end }}
            {{ if .Site.Params.Social.Twitter }}
            <a href="http://twitter.com/{{ .Site.Params.Social.Twitter }}" title="Twitter" rel="me"><i class="fa fa-twitter"></i> Twitter</a>
            {{ end }}
            {{ if .Site.Params.Social.Diaspora }}
            <a href="{{ .Site.Params.Social.Diaspora }}" title="Diaspora" rel="me"><i class="fa fa-diaspora"></i> Diaspora</a>
            {{ end }}
            {{ if .Site.Params.Social.Friendica }}
            <a href="{{ .Site.Params.Social.Friendica }}" title="Friendica" rel="me"><i class="fa fa-friendica"></i> Friendica</a>
            {{ end }}
            {{ if .Site.Params.Social.Fediverse }}
            <a href="{{ .Site.Params.Social.Fediverse }}" title="Join me in the Fediverse, no matter whether you use Mastodon, Diaspora, Pleroma, Friendica or other ActivityPub-ready social software" rel="me"><i class="fa fediverse"></i> Fediverse</a>
            {{ end }}
            {{ if .Site.Params.Social.LinkedIn }}
            <a href="http://linkedin.com/in/{{ .Site.Params.Social.LinkedIn }}" title="LinkedIn" rel="me"><i class="fa fa-linkedin"></i> LinkedIn</a>
            {{ end }}
            {{ if .Site.Params.Social.Stackoverflow }}
            <a href="http://stackoverflow.com/{{ .Site.Params.Social.Stackoverflow }}" title="Stackoverflow"><i class="fa fa-stack-overflow"></i> Stackoverflow</a>
            {{ end }}
            {{ if .Site.Params.Social.Github }}
            <a href="https://github.com/{{ .Site.Params.Social.Github }}" title="GitHub" rel="me"><i class="fa fa-github"></i> GitHub</a>
            {{ end }}
            {{ if .Site.Params.Social.RSS }}
            <a href="{{ .Site.Params.Social.RSS }}" title="RSS feed" rel="me"><i class="fa fa-rss"></i> RSS Feed</a>
            {{ end }}
          </div>
        </div>
