{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <div class="container">
        <div class="page-not-found">
            <h1>Page not found!</h1>
	    <h4>You can try to search for the content you are looking for...</h4>
	    <br />
		<iframe src="https://duckduckgo.com/search.html?site={{ .Site.BaseURL }}&prefill=Search with DuckDuckGo" style="overflow:hidden;margin:0;padding:0;width:300px;height:40px;" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
