{{ partial "head" . }}
  <body>
    <div id="wrap">
	{{ partial "header" . }}
	<section id="credits" class="static-page">
	    <div class="container">
		<h1>Credits</h1>
		<div class="content">
		    <br />
		    <ul>
			<li>Theme based on <a href="https://github.com/nurlansu/hugo-sustain">Sustain</a> by Nurlan Su (MIT License)</li>
			<li>Icons by Joris Hoogendoorn of the <a href="https://thenounproject.com/about/">Noun Project</a> (CC-BY-3.0-US) </li>
			<li>Open Source icon by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel perfect</a> (CC-BY 3.0) </li>
		    </ul>
		</div>
	    </div>
        </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
